.novosti {
  position: relative;
  padding-block: 6rem;
  background: linear-gradient(150deg, hsl(0, 0%, 80%), hsl(0, 0%, 100%));
  overflow: hidden;
  isolation: isolate;
}
.novosti__wrapper {
  display: grid;
  gap: 2rem;
}
.novosti-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.1;
}
.blog-card__body-lower p {
  color: var(--dark-font);
}
.single--novost {
  background: transparent;
}
.blog-card--single {
  flex-direction: column;
}
.single-novost-img-wrapper {
  height: 30vh;
  overflow: hidden;
}
.single-novost-img-wrapper > img {
  width: 100%;
  height: 100%;
}
.single-blog__wrapper {
  padding-block: 5rem;
}
